body {
    overflow-x:hidden;
    background: #e3e3e3 !important;
}
.fond-couleur {
    background: #e3e3e3 !important;
}
h3 {
    color: darkgreen !important;
}
a {
    color: black !important;
}
p {
    text-align: justify;
}
.image-fond {
    height: 100%;
    width: auto;
}
.image {
    width: 100%;
    border-radius: 25px;
    border: white 5px solid;
}
.photo_profile {
    height: 400px;
    border-radius: 25px;
}
.logo {
    height: 40px;
}
